
<h1>the lunch-o-mizer!</h1>

<%= form_tag do %>
    <label for="address">Location:</label> <input id="address" type="text" name="address" value="<%= @address %>"> <input type="submit" value="Change">
<% end %>

<br/>


<%# show closest option %>
<h2>close:
<% if @close then %>
    <span class="toggle_close">
    <%= @close.name %> (<%= get_address(@close) %>)
    <%= image_tag("map_20x20.png", :size => "20x20", :alt => "View map") %>
    </span>
    </h2>
    <div id="close_info">
        <%= render :partial => "info", :locals => { :info => @close } %>
        <div id="close_map" style="width:600px;height:400px"></div>
    </div>
<% else %>
    n/a
    </h2>
<% end %>


<%# show somewhat nearby option %>
<h2>near:
<% if @near then %>
    <span class="toggle_near">
    <%= @near.name %> (<%= get_address(@near) %>)
    <%= image_tag("map_20x20.png", :size => "20x20", :alt => "View map") %>
    </span>
    </h2>
    <div id="near_info">
        <%= render :partial => "info", :locals => { :info => @near } %>
        <div id="near_map" style="width:600px;height:400px"></div>
    </div>
<% else %>
    n/a
    </h2>
<% end %>


<%# this option is a bit of a hike %>
<h2>far:
<% if @far then %>
    <span class="toggle_far">
    <%= @far.name %> (<%= get_address(@far) %>)
    <%= image_tag("map_20x20.png", :size => "20x20", :alt => "View map") %>
    </span>
    </h2>
    <div id="far_info">
        <%= render :partial => "info", :locals => { :info => @far } %>
        <div id="far_map" style="width:600px;height:400px"></div>
    </div>
<% else %>
    n/a
    </h2>
<% end %>
