
<!-- close_map.autoCenterAndZoom(); -->

<h2>close: <%= @close.name %> (<%= get_address(@close) %>)</h2> 
    <a class="toggle" href="#" onclick="$('#close_map').toggle(); <%= @close_map.recenter_html() %>; ">show map</a>
<div id="close_map" style="width:600px;height:400px"></div>

<h2>near: <%= @near.name %> (<%= get_address(@near) %>)</h2>
    <a class="toggle" href="#" onclick="$('#near_map').toggle(); <%= @near_map.recenter_html() %>">show map</a>
<div id="near_map" style="width:600px;height:400px"></div>

<h2>far: <%= @far.name %> (<%= get_address(@far) %>)</h2>
    <a class="toggle" href="#" onclick="$('#far_map').toggle(); <%= @far_map.recenter_html() %>">show map</a>
<div id="far_map" style="width:600px;height:400px"></div>
